.button {
  margin-top: 20px;
  background-color: transparent;
  color: var(--button-color);
  border: none;
  display: inline-block;
  width: 100px;
  cursor: pointer;
}

.settings-button svg {
  color: var(--text-color);
}
